body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #000;
  transition: 0.5s;
}

#neon_particles {
  width: 100%;
  height: 100vh;
}

h1 {
  position: absolute;
  font-family: "Lobster", cursive;
  left: 39%;
  font-size: 70px;
  color: #00ff11;
  transition: 0.5s;
}

/* Calculator Box */
#neon_box {
  position: absolute;
  top: 18.5%;
  left: 38.5%;
  width: 450px;
  height: 700px;
  border-radius: 20px;
  /*background: linear-gradient(0deg, #000, #262626);*/
  background-color: #000;
  transition: 0.5s;
}

/* Calculator Box Glow Effect */
#neon_box:before,
#neon_box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(
    45deg,
    #00ff62,
    #00ff11,
    #9dff00,
    #00ff62,
    #00ff11,
    #9dff00,
    #00ff62,
    #00ff11,
    #9dff00
  );
  background-size: 400%;
  border-radius: 20px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

#neon_box:after {
  filter: blur(20px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* Calculator Box Glow Effect End */

#result {
  height: 120px;
  padding-right: 30px;
  color: #00ff11;
}
#history {
  text-align: right;
  height: 30px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 20px;
  color: #00ff11;
}
#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 40px;
}
#keyboard {
  height: 500px;
  padding-left: 18px;
  padding-top: 20px;
}
.operator,
.number,
.empty {
  width: 60px;
  height: 60px;
  margin: 20px;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 20px;
}
.number {
  background-color: #eaedef;
}

.empty {
  background-color: #000;
  transition: 0.5s;
}

.number,
.operator {
  cursor: pointer;
}
.operator:active,
.number:active {
  font-size: 13px;
}
.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
}
button:nth-child(1) {
  font-size: 15px;
  background-color: #00ff62;
}
button:nth-child(2) {
  font-size: 15px;
  background-color: #9dff00;
}
button:nth-child(3) {
  font-size: 15px;
  background-color: #00ff11;
}
button:nth-child(4) {
  font-size: 20px;
  background-color: #00ff62;
}
button:nth-child(8) {
  font-size: 20px;
  background-color: #00ff11;
}
button:nth-child(12) {
  font-size: 20px;
  background-color: #9dff00;
}
button:nth-child(16) {
  font-size: 20px;
  background-color: #00ff62;
}
button:nth-child(20) {
  font-size: 20px;
  background-color: #9dff00;
}

button:hover {
  box-shadow: 0px 0px 25px 1px #00ff11;
  transition: ease 0.5s;
}

/*
#00ff62,
#00ff11,
#9dff00,
*/

/* Theme Invert */

.toggle {
  position: absolute;
  top: 40px;
  right: 50px;
  background: #00ff11;
  border: 2px solid #000;
  height: 20px;
  width: 45px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.05s;
}

.toggle:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #00151f;
  border-radius: 50%;
  transition: 0.5s;
}

.toggle.active {
  border: 2px solid #000;
  background: #000;
  transition: 0.5s;
}

.toggle.active:before {
  left: 27px;
  background: #fff;
  transition: 0.5s;
}

body.day {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/bg.jpg");
  transition: 0.5s;
}

body.day #neon_box {
  background: #d8d8d8;
  transition: 0.5s;
}

body.day button:nth-child(17),
body.day button:nth-child(19) {
  background-color: #d8d8d8;
  transition: 0.5s;
}

body.day #result,
body.day #history {
  color: #000;
  transition: 0.5s;
}

body.day #neon_box:before,
body.day #neon_box:after {
  background: linear-gradient(
    45deg,
    red,
    green,
    blue,
    yellow,
    cyan,
    orange,
    violet,
    purple,
    #00ff11
  );
  background-size: 400%;
  border-radius: 20px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  transition: 0.5s;
}

body.day button:hover {
  box-shadow: 0px 0px 25px 1px #000;
  transition: ease 0.5s;
}

body.day h1 {
  color: #000;
  transition: 0.5s;
}

body.day button:nth-child(1) {
  background-color: #ffa600;
}
body.day button:nth-child(2) {
  background-color: #ff0000;
}
body.day button:nth-child(3) {
  background-color: #ffa600;
}
body.day button:nth-child(4) {
  background-color: #ff0000;
}
body.day button:nth-child(8) {
  background-color: #ffa600;
}
body.day button:nth-child(12) {
  background-color: #ff0000;
}
body.day button:nth-child(16) {
  background-color: #ffa600;
}
body.day button:nth-child(20) {
  background-color: #ff0000;
}
